In [1]:
import numpy as np

import pandas as pd
import yfinance as yf

In [2]:
from datetime import date

today = date.today()
print("Today's date:", today)

Today's date: 2023-02-02

In [7]:
from datetime import datetime, timedelta

days_to_subtract = 1
d = today - timedelta(days=days_to_subtract)

print(d)

2023-02-01

In [9]:
tickers_list = ['INFY.NS']

data = yf.download(tickers_list, today)

data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-02 00:00:00+05:30,1552.0,1586.949951,1552.0,1583.75,1583.75,6916360

In [11]:
tickers_list = ['INFY.NS']

ydata = yf.download(tickers_list, start='2023-02-01', end='2023-02-02')

ydata

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-01 00:00:00+05:30,1542.199951,1555.050049,1528.050049,1551.099976,1551.099976,6194199

In [17]:
data.merge(ydata, how='outer')

          Open         High          Low        Close    Adj Close   Volume
0  1552.000000  1586.949951  1552.000000  1583.750000  1583.750000  6916360
1  1542.199951  1555.050049  1528.050049  1551.099976  1551.099976  6194199

In [20]:
pd.concat([data, ydata], axis=0)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-02-02 00:00:00+05:30,1552.000000,1586.949951,1552.000000,1583.750000,1583.750000,6916360
2023-02-01 00:00:00+05:30,1542.199951,1555.050049,1528.050049,1551.099976,1551.099976,6194199

In [22]:
data['Close']

Date
2023-02-02 00:00:00+05:30    1583.75
Name: Close, dtype: float64